.search-form__label:has(.search-form__textfield:focus-visible),
.search-form__label:has(.search-form__checkbox:focus-visible),
.button:focus-visible,
.content__card-link:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 1px;
}

.button:hover,
.content__card-link:hover,
.search-form__label:hover .search-form__label-text {
    text-decoration: underline;
}

.button:active,
.content__card-link:active,
.content__card-link_current {
    background-color: #545050;
}

.content__card-link:focus {
    outline: none;
}

.button:focus {
    outline: none;
}
