*,
*::before,
*::after {
    /*border: white solid 1px;*/
    box-sizing: border-box;
    color: white;
}

html {
    block-size: 100%;
}

.page {
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
}

.content {
    display: grid;
    grid-template-columns: 711px 399px;
    grid-column-gap: 30px;
    width: 1140px;
    height: 534px;
    align-items: end;
}

.result {
    grid-column: 1;
}

.content__details {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 26px;
    height: 100%;
}

.content__list-container {
    height: 298px;
    overflow-y: auto;
    margin-top: auto;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.title {
    font-family: "Oswald", sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 0.94;
    text-transform: uppercase;
}

.content__accent {
    color: #545050;
}
button {
    background-color: transparent;
    border: white solid 1px;
}
.search-form__submit-button {
    margin-left: auto;
    margin-top: auto;
    width: 194px;
    height: 34px;
}

.search-form__checkbox-list {
    display: flex;
    gap: 15px;
}

.content__card-link{
    display: block;
    text-decoration: none;
}

.result__video {
    width: 711px;
    height: 386px;
}
.content__video-card{
    display: flex;
    gap: 5px;
}
.content__video-card-title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    word-break: break-all;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;


}

.content__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.more-button {
    margin-top: 30px;
    width: 100%;
    height: 34px;
}

.content__video-card-description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    word-break: break-all;
    font-size: 18px;
    font-family: 'Fira Sans Condensed', sans-serif;
    line-height: 1.1;
    font-weight: 400;

}

.content__video-card-description-container{
    flex-grow: 1; /* картинка в упор справа */
}

.result__video-container{
    margin-bottom: 10px;
}

.content__video-card-thumbnail{
    width: 194px;
}


fieldset {
    border: none;


}

.search-form__label:has(input[type="text"])  {
    display: flex;
    width: fit-content;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    font-size: 18px;
    font-weight: 400;
}

.search-form__label input  {
    font-size: 18px;
    inline-size: 240px;

    border: white solid 1px;
}

.search-form__fieldset-title{
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}
.search-form__label-text{
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    font-weight: 400;

}

.search-form__label-text:hover {
    text-decoration: underline;
}

.search-form__label input::placeholder {
font-size: 18px;
    font-weight: 400;
    color: #FFFFFFB2;
;
}
.search-form__label-text{
    cursor: pointer;
}

.content__card-link:active {

    background-color: #545050;
}


.search-form__label input {
    padding-top: 5px;
    padding-bottom: 3px;
    background: none;
    border: none;
    outline: none;
}
.search-form__label input:focus {
    background: transparent;
    border: none;
}


.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.button:hover {
    text-decoration: underline;
}


.button:active {
    background-color: #545050;
}

.content__card-link:hover {
    text-decoration: underline;
}


.result__video-container,
.content__list-container {
    position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
    border: none;

    background-color: white;
}
.search-form__pseudo-checkbox {
    margin-top: 10px;
    display: inline-block; /* без этого квадратик чекбокса -> палка*/
    inline-size: 13px; /* без этого квадратик чекбокса -> палка*/
    block-size: 13px; /* без этого квадратик чекбокса -> палка* ГОРИЗОНТАЛЬНАЯ*/
    outline: 1px solid #fff;
    outline-offset: 2px;
    cursor: pointer;
}